<div class="blog__sidebar">
    <div class="blog__sidebar__search">
        <form action="/blogs" method = "GET">
            <input type="text" placeholder="Search..." name = "keyword">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>

    <div class="blog__sidebar__item">
        <h4>DISH SECTION</h4>
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Appertizer</a></li> 
                <li><a href="#">Entree</a></li> 
                <li><a href="#">Desert</a></li>  
            </ul>
    </div>
</div>