<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link href= "/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href = "/css/styles.css" rel="stylesheet"/>
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col">
                <nav class=" navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">SuShiX</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item active">
                                    <a class="nav-link" href="/menuEmp">Menu</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="dropdownId"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    >Services</a
                                >
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownId"
                                >
                                    <a class="dropdown-item" href="/createNewMember"
                                        >Create a new member</a
                                    >
                                    <a class="dropdown-item" href="/updateMemberCard"
                                        >Update Member Card</a
                                    >

                                    <a class="dropdown-item" href="/cardRecover">
                                        Card Recovery</a
                                    >
                            </li>   

                             <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="statisticsDropdown"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                    >Statistics</a>
                                    <div
                                        class="dropdown-menu"
                                        aria-labelledby="statisticsDropdown"
                                    >
                                        <a
                                            class="dropdown-item"
                                            href="/branchRevenue"
                                        >Branch Revenue</a>
                                        <a
                                            class="dropdown-item"
                                            href="/compRevenue"
                                        >Company Revenue</a>
                                        <a
                                            class="dropdown-item"
                                            href="/dishRevenue"
                                        >Dish Revenue</a>
                                        <a
                                            class="dropdown-item"
                                            href="/empScore"
                                        >Employee Score</a>
                                        <a
                                            class="dropdown-item"
                                            href="/searchEmp"
                                        >Search Employee</a>
                                    </div>
                                </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col">
                 <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                           <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="profileDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <i class="bi bi-person"></i> Profile
                                </a>
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="profileDropdown"
                                >
                                    <a class="dropdown-item" href="/profile">View Profile</a>
                                    <a class="dropdown-item" href="/home/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer>
       <div class="container text-center bg-opacity-75 py-3 text-secondary">
            <p>&copy;SuShiX-Ho Chi Minh. All rights reserved.</p>
        </div>
    </footer>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>