{{> banner}}
<section class="blog spad py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    {{> sidebar}}
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="card border-0">
                        <img class="card-img-top img-fluid" src="/Menu/1.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Sashimi</h4>
                    </div>
                </div>
            </div>

            

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/2.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Raw shrimp roll</h4>
                    </div>
                </div>    
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/3.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Squid roll</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/4.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Tuna roll</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/5.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Maki roll</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/6.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Salmon roll</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/7.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Tamagoyaki</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/8.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Udon</h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="/Menu/9.jpg" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">Cucumber roll</h4>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>  
        </div> 
</section>       