<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://via.placeholder.com/150" alt="User" class="img-fluid rounded-circle mb-3" />
                        <h5 class="card-title">User Profile</h5>
                        <p class="card-text">Member Card Points: 100</p>
                        <p class="card-text">Rank: GOLD</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bills</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Bill ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0193313</td>
                                    <td>12/10/2024</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>