<body>
    <div class="card p-3 shadow-sm mt-4 mx-auto" style="max-width: 550px;">
        <h2 class="text-center">SIGN UP</h2>
        <form action= "/signup" method="POST" onsubmit="process(event)" id="signupForm">
            <div class="mb-3">
                <label for="citizenId" class="form-label">Citizen Nation ID:</label>
                <input type="text" class="form-control form-control-sm" id="citizenId" name="citizenId" oninput="checkContentLength()" required>
            </div>
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name:</label>
                <input type="text" class="form-control form-control-sm" id="firstname" name="firstname">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name:</label>
                <input type="text" class="form-control form-control-sm" id="lastname" name="lastname">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender:</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="male" name="gender" value="male" required>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" name="gender" value="female" required>
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control form-control-sm" id="phone" name="phone">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control form-control-sm" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control form-control-sm" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control form-control-sm" id="confirmPassword" name="confirmPassword" placeholder="" oninput="checkPassword()" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Sign Up</button>
        </form>
        <div class="text-center mt-3">
            <p class="mb-0">Already have an account?</p>
            <a href="/signin" class="text-primary">Sign in</a>
        </div>
    </div>
</body>
<script src = "/js/signup.js"></script>
