<body>
    <section class="py-5">
        <div class="container col-6 col-md-4 justify-content-center align-items-center">
            <div class="card p-4 shadow-sm">
                <h1 class="mb-4 text-center">SIGN IN</h1>
                <p class="mb-4 text-danger">{{message}}</p>
                <form action="/signin" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Username" required value = "{{username}}">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" required value = "{{password}}">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="rememberMe">
                        <label class="form-check
                        -label" for="rememberMe">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Sign In</button>
                </form>
                <div class="signup-link mt-3 text-center">
                    <p>Don't have an account? <a href="/signup" class="text-success">Sign up</a></p>
                </div>
                <div class="forgot-password-link mt-3 text-center">
                    <p><a href="/forgot-password" class="text-success">Forgot password?</a></p>
                </div>
            </div>
        </div>
    </section>
</body>