<body>
    <section class="py-5">
        <div class="container col-6 col-md-4 justify-content-center align-items-center">
            <div class="card p-4 shadow-sm">
                <h1 class="mb-4 text-center">SIGN IN</h1>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Citizen Nation ID" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Sign In</button>
                </form>
                <div class="signup-link mt-3 text-center">
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                </div>
            </div>
        </div>
    </section>
</body>